.Rproj.user
.Rhistory
.RData
.RData*
.Ruserdata
src/*.o
src/*.so
src/*.dll
.ipynb*
.ipynb*/
inst/doc
*.Rproj
/doc/
/Meta/
docs
/renv/
.Rprofile
__pycache__
.editorconfig
tests/testthat/data/test_bimap_data.rds
